@media screen and (max-width: 1400px) {
  .Main {
    width: 95%;
  }
}

@media screen and (max-width: $laptop) {
  .Transfer {
    width: 80%;
    margin: 30px auto;
  }

  .TicketItem__info {
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
  }

  .Step {
    width: 100%;
  }

  .Step:first-child,
  .Step:last-child {
    text-align: center;
  }
}

@media screen and (max-width: $tablet-s) {
  .TicketItem {
    flex-direction: column;
  }

  .TicketItem__promo {
    width: 100%;
    padding: 10px;
  }

  .TicketItem__info {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: $mobile-l) {
  .MainContent {
    flex-direction: column;
  }

  .Filters {
    position: unset;
    top: unset;
    margin: 0 auto 30px;
  }

  .TicketsList {
    width: 100%;
  }
}