@media screen and (max-width: 1400px) {
  .Main {
    width: 95%;
  }
}

@media screen and (max-width: $laptop) {
  .Transfer {
    width: 80%;
    margin: 30px auto;

    &__info {
      padding: 20px 15px;
      flex-direction: column;
      align-items: center;
    }
  }

  .Step {
    width: 100%;

    &:first-child,
    &:last-child {
      text-align: center;
    }
  }
}

@media screen and (max-width: $tablet-s) {
  .TicketItem {
    flex-direction: column;

    &__promo {
      width: 100%;
      padding: 10px;
    }

    &__info {
      width: 100%;
      padding: 10px;
    }
  }
}

@media screen and (max-width: $mobile-l) {
  .MainContent {
    flex-direction: column;
  }

  .Filters {
    position: unset;
    top: unset;
    margin: 0 auto 30px;
  }

  .TicketsList {
    width: 100%;
  }
}
