// COLORS
$colorPrimary: #2196f3;
$colorBtn: #ff6d00;
$fontColor: #4a4a4a;

// FONT
$fontFamily: "Open Sans";

// MEDIA
$laptop: 1024px;
$tablet-s: 700px;
$mobile-l: 600px;

// OTHER
$transition: 0.4s all;
$offset: 187;
$duration: 1.4s;
$boxShadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
